#filterTitle{
  display: flex; align-self: flex-start; margin-top: 20px;
  text-shadow: 4px 12px 4px rgb(0, 0, 0)
}
#filterTitleRow{
  justify-content: space-between;


}
#card-Text{
  text-shadow: 4px 12px 4px rgb(0, 0, 0)
}
#PlayerContainer{
  width: 93%; 
  height: 100%
}
#filterRow{
  justify-content: center;
}
#playerComponentBody {
  height: 10000px
}
div#card {
    background-color: #171717;
    color: #fff;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 1em 2em rgb(0 0 0 / 75%);
  margin: 30px;
    width: 18rem ;
    height: 29rem;
    transition: 0.5s;
 
    div#image-body {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      img#albumImage {
        border-radius: 1em;
      }
    }
  }
#card:hover{
  background-color: #3d3d3d;
  transition: 0.5s;
}

  
