<div id= "playerComponentBody">
  <div class="container-fluid" id="PlayerContainer" >
    <div class="row" id="filterTitleRow">
      <h3 id="filterTitle">
        Novedades
      </h3>
      <p
        style="
          display: flex;
          align-self: right;
          color: rgba(128, 128, 128, 0.419);
          margin-top: 20px;">
        See all
      </p>
    </div>

    <div class="row" id="filterRow">
      <div
        *ngFor="let song of songsByReleaseDate"
        id="card"
        class="card"
      >
        <div id="image-body">
          <img
            id="albumImage"
            [src]="'data:image/webp;base64,'+ song.image" alt="album-image"
            class="card-img-top"
            alt="album-image"
            [routerLink]="['/songs', song.id]"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ song.name }}</h5>

        </div>
      </div>
      
    </div>
    <div class="row" id="filterTitleRow">
      
        <h3 id="filterTitle">
        Lo mas escuchado
      </h3>
 
      

      <div class="row" id="filterRow">
        <div
          *ngFor="let song of songsByPlayedtimes"
          id="card"
          class="card"
        >
          <div id="image-body">
            <img
              id="albumImage"
              [src]="'data:image/webp;base64,'+ song.image" alt="album-image"
              class="card-img-top"
              alt="album-image"
              [routerLink]="['/songs', song.id]"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ song.name }}</h5>
            <p class="card-text" id="card-Text" >
            </p>
          </div>
        </div>
        
      </div>
    </div>
    <div class="row"></div>
    <div class="row" id="filterTitleRow">
      <h3 id="filterTitle">
        Lo mejor valorado
      </h3>

      <div class="row" id="filterRow">
        <div
          *ngFor="let song of songsByLikes"
          id="card"
          class="card"
        >
          <div id="image-body">
          
            <img
              id="albumImage"
              [src]="'data:image/webp;base64,'+ song.image" alt="album-image"
              class="card-img-top"
              alt="album-image"
              [routerLink]="['/songs', song.id]"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ song.name }}</h5>
            <p class="card-text" id="card-Text" >
            </p>
          </div>
        </div>
    </div>
    <div class="row"></div>
  </div>
</div>
