<div style="height: 10000px">
  <div class="container-fluid" style="width: 93%; height: 100%">
    <div class="row" style="justify-content: space-between">
      <h3 style="display: flex; align-self: flex-start; margin-top: 20px">
        Novedades
      </h3>
      <p style="
          display: flex;
          align-self: right;
          color: rgba(128, 128, 128, 0.419);
          margin-top: 20px;">
        See all
      </p>
    </div>

    <div class="row">
      <div *ngFor="let song of songsByReleaseDate" id="card" class="card">
        <div id="image-body">
          <img id="albumImage" [src]="'data:image/webp;base64,'+ song.image" alt="album-image" class="card-img-top"
            alt="album-image" [routerLink]="['/songs', song.id]" />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ song.name }}</h5>
          <p class="card-text" style="text-shadow: 4px 12px 4px rgb(0, 0, 0)">
            {{song.releaseDate}}
          </p>
        </div>
      </div>

    </div>
    <div class="row" style="justify-content: space-between">
      <h3 style="display: flex; align-self: flex-start; margin-top: 20px">
        Lo mas escuchado
      </h3>

      <div class="row">
        <div *ngFor="let song of songsByPlayedtimes" id="card" class="card">
          <div id="image-body">
            <img id="albumImage" [src]="'data:image/webp;base64,'+ song.image" alt="album-image" class="card-img-top"
              alt="album-image" [routerLink]="['/songs', song.id]" />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ song.name }}</h5>
            <p class="card-text" style="text-shadow: 4px 12px 4px rgb(0, 0, 0)">
              {{song.playedTimes}}
            </p>
          </div>
        </div>

      </div>
    </div>
    <div class="row"></div>
    <div class="row" style="justify-content: space-between">
      <h3 style="display: flex; align-self: flex-start; margin-top: 20px">
        Lo mejor valorado
      </h3>

      <div class="row">
        <div *ngFor="let song of songsByLikes" id="card" class="card">
          <div id="image-body">

            <img id="albumImage" [src]="'data:image/webp;base64,'+ song.image" alt="album-image" class="card-img-top"
              alt="album-image" [routerLink]="['/songs', song.id]" />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ song.name }}</h5>
            <p class="card-text" style="text-shadow: 4px 12px 4px rgb(0, 0, 0)">
              Puntuacion de los usuarios: {{song.likes / song.countRate | number: '1.0'}}

            </p>
          </div>
        </div>
      </div>
      <div class="row"></div>
    </div>
  </div>