<nav class="navbar navbar-expand-lg">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon" style="color: white"></span>
  </button>
  <a
    class="navbar-brand"
    style="color: white; size: 40px; width: auto"
    routerLink=""
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      fill="currentColor"
      class="bi bi-spotify"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z"
      /></svg
    ><span style="font-size: 24px; font-weight: bold" class="ml-2"
      >Kreitekfy</span
    >
  </a>

  <div
    class="collapse navbar-collapse"
    id="navbarTogglerDemo03"
    style="
      background-color: #0e0c0e;
      height: 73px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    "
  >
    <section>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li
          *ngIf="dataUser.rol === 'ADMIN' || dataUser.rol === 'USER'"
          class="nav-item active"
        >
          <a routerLink="/player" class="nav-link" style="color: white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              fill="currentColor"
              class="bi bi-house"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
              />
              <path
                fill-rule="evenodd"
                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
              />
            </svg>
            Home <span class="sr-only"></span
          ></a>
        </li>
        <li *ngIf="dataUser.rol === 'ADMIN'" class="nav-item active">
          <a routerLink="/song-list" class="nav-link" style="color: white"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              fill="currentColor"
              class="bi bi-music-note"
              viewBox="0 0 16 16"
            >
              <path
                d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"
              />
              <path fill-rule="evenodd" d="M9 3v10H8V3h1z" />
              <path
                d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"
              />
            </svg>
            Canciones <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </section>
    <section *ngIf="dataUser.rol === 'ADMIN' || dataUser.rol === 'USER'">
      <form class="form-inline my-2 my-lg-0">
        <p-autoComplete
          [(ngModel)]="selectedStyle"
          name="selectedStyle"
          [suggestions]="styles"
          (completeMethod)="getAllStyles($event)"
          field="name"
          (onSelect)="styleSelected()"
          [required]="true"
          [forceSelection]="true"
          [size]="50"
          [placeholder]="'Selecciona tu estilo favorito!'"
          [style]="{
            display: 'inline-flex',
            height: '40px',
            fontSize: '24px',
            marginRight: '20px'
          }"
        ></p-autoComplete>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          style="color: white"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          />
        </svg>
      </form>
      <div class="col-1">
        <svg
          id="UserIcon"
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          />
        </svg>
      </div>
    </section>
  </div>
</nav>
