nav {
  background-color: black;
}

input {
  height: 50px;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: none;
  -webkit-appearance: none;
  color: white;
}
