/* You can add global styles to this file, and also import other style files */

html, body, .full-screen {
    height: 100%;
    width: 100%;
    color: white;
  }

  //
  // Gradient system
  //
  $gradients: () !default;
  $gradients: map-merge((
      chill: linear-gradient(135deg, #09e485 0%,#0291e3 100%),
      warm: linear-gradient(135deg, #F2CD48 0%,#FD803F 100%),
      hot: linear-gradient(135deg, #F9445A 0%,#FD803F 100%),
      cold: linear-gradient(180deg, #ffffff -650%,#121112 30%)
  ), $gradients);
  
  
  // Gradient backgrounds
  @mixin bg-gradient($parent, $gradient) {
    #{$parent} {
      background: $gradient;
    }
  }
  
  // Gradient text
  @mixin text-gradient($parent, $gradient) {
    #{$parent} {
      background-image: $gradient;
      color:transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
  
  // Gradient Classes 
  @each $gradient, $value in $gradients {
    @include bg-gradient(".bg-gradient-#{$gradient}", $value);
  }
  
  // Gradient Classes 
  @each $gradient, $value in $gradients {
    @include text-gradient(".text-gradient-#{$gradient}", $value);
  }
  