<!-- <div id="container">
  <h1>Mantenimiento de CANCIONES</h1>
  <section id="form" *ngIf="song">
    <section id="songInputs">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">ID</span>
        <input
          type="text"
          class="form-control"
          aria-label="ID"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Name</span>
        <input
          type="text"
          class="form-control"
          aria-label="Name"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Duration</span>
        <input
          type="text"
          class="form-control"
          aria-label="Duration"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Release date</span>
        <input
          type="text"
          class="form-control"
          aria-label="Release date"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Likes</span>
        <input
          type="text"
          class="form-control"
          aria-label="Likes"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Played times</span>
        <input
          type="text"
          class="form-control"
          aria-label="Played times"
          aria-describedby="addon-wrapping"
        />
      </div>
    </section>
    <section id="artistInputs">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Artist ID</span>
        <input
          type="text"
          class="form-control"
          aria-label="Artist ID"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Artist name</span>
        <input
          type="text"
          class="form-control"
          aria-label="Artist name"
          aria-describedby="addon-wrapping"
        />
      </div>
    </section>
    <section id="albumInputs">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Album ID</span>
        <input
          type="text"
          class="form-control"
          aria-label="Album ID"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Album name</span>
        <input
          type="text"
          class="form-control"
          aria-label="Album name"
          aria-describedby="addon-wrapping"
        />
      </div>
    </section>
    <section id="styleInputs">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Style ID</span>
        <input
          type="text"
          class="form-control"
          aria-label="Album ID"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Style name</span>
        <input
          type="text"
          class="form-control"
          aria-label="Album ID"
          aria-describedby="addon-wrapping"
        />
      </div>
    </section>
    <section>
      <button (click)="createSong(song)" class="btn btn-primary">Crear canción</button>
    </section>
  </section>
</div> -->
