

<div id="card" class="card" >

  <div id="image-body">
    <img
      id="albumImage"
      src="https://m.media-amazon.com/images/I/91Z82BKqrSL._SL1500_.jpg"
      class="card-img-top"
      alt="album-image"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{song.name}}</h5>
    <p class="card-text " style=" text-shadow: 4px 12px 4px rgb(0, 0, 0);">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      quidem, doloremque, quisquam.
    </p>
  </div>
</div>
