div#card {
  background-color: #171717;
  color: #fff;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
  div#image-body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    img#albumImage {
      border-radius: 1em;
    }
  }
}
