#button-Container {
  justify-content: end;
  display: flex
}

#Song_Card_Info {
  width: fit-content
}


#card-Image {
  width: 70%;
  height: 70%
}

#closeButton {

  cursor: pointer;
  justify-content: end;
  display: flex
}

#rating__Play {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#buttonplay {
  border-radius: 50%;
  background-color: #1DB954;
  color: #ffffff;
  align-items: center;
  width: 70px;
  height: 70px;
}

#buttonplay:active {
  background-color: #336e48;


}

div#card {
  background-color: #171717;
  color: #fff;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 1em 2em rgb(0 0 0 / 75%);
  margin: 30px;
  width: 50%;
  height: 50%;
  transition: 0.5s;
  align-self: center;
  height: fit-content;

  div#image-body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    img#albumImage {
      border-radius: 1em;
    }
  }
}

#playbutton:active {
  color: #09e485;
}

#card:hover {
  background-color: #3d3d3d;
  transition: 0.5s;
}

#valoraciones {
  width: 190px;
  display: flex;
  justify-content: center;
}



//
// Gradient system
//
$gradients: (
  ) !default;
$gradients: map-merge((chill: linear-gradient(180deg, #09e485 40%, #0291e3 100%),
      warm: linear-gradient(135deg, #F2CD48 0%, #FD803F 100%),
      hot: linear-gradient(135deg, #F9445A 0%, #FD803F 100%),
      cold: linear-gradient(180deg, #0291e3 -150%, #121112 40%)), $gradients
);


// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}

// Gradient text
@mixin text-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

// Gradient Classes 
@each $gradient,
$value in $gradients {
  @include bg-gradient(".bg-gradient-#{$gradient}", $value);
}

// Gradient Classes 
@each $gradient,
$value in $gradients {
  @include text-gradient(".text-gradient-#{$gradient}", $value);
}