div#card {
  color: #fff;
  border: 0;
  padding: 1em;
  width: 12rem;
  height: 280px;
  cursor: pointer;
  div#image-body {
    margin-top: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    img#userImage {
      border-radius: 100%;
    }
  }
  div.card-body {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.5em;
    color: #000;
  }
}
